* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

p {
	margin-bottom: 20px;
}

code {
	background-color: transparent;
}

table {
	background-color: #fafafa;
	border: 1px solid #cccccc;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	font-size: 100%;
	margin: 3em 0;
}

table.nowrap {
	background: none repeat scroll 0 0 #fafafa;
}

#content table thead th, #content table thead td, #content table thead tr.wrap td, #content table thead tr.wrap th, #content table thead tr.wrap:hover td, #content table thead tr:hover th, .js .checkable thead .checked td, .js .checkable thead .checked th {
	background-color: #dddddd;
	border-top: medium none;
	color: #5a5a5a;
	font-weight: bold;
	padding: 10px 15px;
	text-align: left;
}

td > input.icon {
	padding: 1px 6px;
}

tr {
	background-color: #f7f7f7;
}

tr.odd {
	background-color: #fafafa;
}

.odd td {
	background-color: #fafafa;
}

td, th {
	background: none;
	border: medium none;
	border-top: 1px solid #bbbbbb;
	min-height: 16px;
	padding: 6px;
	vertical-align: baseline;
}

.js .checkable .checked td, .js .checkable .checked th {
	background-color: #dadada;
}

.active {
	font-weight: normal;
}

tbody tr:hover td, tbody tr:hover th {
	background-color: #ededed;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:link {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:visited {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:link:hover, a:visited:hover {
	color: black;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: underline;
}

p.links a {
	background-color: #eeeeee;
	border: 1px solid #bbbbbb;
	border-radius: 2px 2px 0 0;
	color: #333333;
	display: inline-block;
	padding: 6px;
}

p.links a:hover {
	background-color: #dedede;
	border-color: #c4c4c4;
}

form table.nowrap a[href*="edit="][href*="&where"] {
	display: inline-block;
	left: 4px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

form table.nowrap a[href*="edit="][href*="&where"]:hover {
	text-decoration: none;
}

table.nowrap a[href*="edit="][href*="&where"]:before {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-open.svg");
	content: " ";
	display: inline-block;
	font-size: 16px;
	height: 18px;
	margin: -16px 0;
	overflow: hidden;
	padding: 8px;
	position: relative;
	vertical-align: middle;
	width: 16px;
}

table.nowrap thead th a, table.nowrap thead td a, table.nowrap thead th a:hover, table.nowrap thead td a:hover, table.nowrap thead th a:link:hover, table.nowrap thead td a:link:hover, table.nowrap thead th a:visited:hover, table.nowrap thead td a:visited:hover {
	color: #000000;
}

p#breadcrumb a {
	color: #000000;
	font-weight: bold;
}

#menu {
	background: none repeat-y scroll right center #F5F5F5;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 270px;
}

#menu form[method*="post"] {
	background: #DADADA url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/ALi4uEy4uLi0uLi4/zSECHijpwMGAAAAAElFTkSuQmCC") repeat-y right center;
	height: 22px;
}

#menu p {
	border: medium none;
	margin: 0;
	padding: 4px 10px;
}

#menu p select {
	border-style: none;
	font-size: 10px;
	height: 18px;
	width: auto;
}

#menu p#dbs {
	background: none repeat scroll 0 0 #eeeeee;
	border-bottom: 1px solid #c3c3c3;
	color: #2d2d2d;
	height: 22px;
	padding: 1px 10px;
}

#menu h1 {
	background: none repeat scroll 0 0 #eeeeee;
	border: medium none;
	border-bottom: 1px solid #c3c3c3;
	border-style: none none;
	border-width: medium;
	color: #2d2d2d;
	display: block;
	font-size: 10px;
	height: 27px;
	line-height: 27px;
	margin: 0;
	padding: 0 10px;
}

#menu h1 a {
	color: #FFFFFF;
	font-size: 13px;
}

#menu h1 .version {
	color: #323232;
	font-size: 9px;
}

#menu * {
	margin: 0;
	padding: 0;
}

p#tables {
	bottom: 0;
	left: 0;
	line-height: 18px;
	margin: 0;
	overflow-x: auto;
	overflow-y: auto;
	padding: 0 0 0 5px;
	position: absolute;
	top: 88px;
	width: 265px;
}

p#tables a {
	background-color: transparent;
	display: block;
	margin: 1px 0 0;
	padding: 0;
	text-decoration: none;
	top: 0;
}

p#tables span {
	background-color: transparent;
}

p#tables a[href*="select="] {
	display: block;
	left: 10px;
	overflow: hidden;
	position: absolute;
	width: 16px;
}

p#tables a[href*="select="]:before {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-document.svg") -16px 0;
	content: " ";
	display: inline-block;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

p#tables a[href*="table="] {
	left: 36px;
	position: absolute;
	width: 200px;
}

p#tables span.tables-line {
	border: 1px solid transparent;
	display: list-item;
	height: 18px;
	list-style: none;
	position: relative;
}

p#tables span.tables-line-active {
	background-color: #F8F8F8;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	display: list-item;
	position: relative;
}

p#tables span.tables-line:hover {
	background: #F2F2F2 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/AMjIyEzIyMizyMjI/zhvCQelaHPPAAAAAElFTkSuQmCC") repeat-y right center;
	border-bottom: 1px solid #D7D7D7;
	border-bottom-right-radius: 3px;
	border-left: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	border-top-right-radius: 3px;
}

#menu p.links a[href*="sql="] {
	display: block;
	height: 32px;
	left: 10px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 32px;
}

#menu p.links a[href*="sql="]:before {
	background: url("../Icons/sql.svg");
	background-position: 6px 6px;
	background-repeat: no-repeat;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="sql="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#menu p.links a[href*="import="] {
	display: block;
	height: 32px;
	left: 41px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

#menu p.links a[href*="import="]:before {
	background: url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-database-import.svg) no-repeat 6px 6px;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="import="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#menu p.links a[href*="dump="] {
	display: block;
	height: 32px;
	left: 72px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

#menu p.links a[href*="dump="]:before {
	background: url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-database-export.svg) no-repeat 6px 6px;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="dump="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#menu p.links a[href*="create="] {
	display: block;
	height: 32px;
	left: 103px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

#menu p.links a[href*="create="]:before {
	background: url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-document-add.svg) no-repeat 6px 6px;
	-webkit-background-size: 16px;
	background-size: 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	margin: 0;
	padding: 16px;
	position: relative;
	width: 32px;
}

#menu p.links a[href*="create="]:hover:before {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#content a[href*="refresh="] {
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 16px;
}

#content a[href*="refresh="]:before {
	background: url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-refresh.svg) no-repeat -16px 0;
	content: " ";
	display: inline-block;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

#content a[href*="dbsize="] {
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 16px;
}

#content a[href*="dbsize="]:before {
	background: url(../Icons/calculator.svg) no-repeat -16px 0;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	content: " ";
	display: inline-block;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

#content a[href*="host="] {
	background-color: #ededed;
	border: 1px solid #bbbbbb;
	display: inline-block;
	height: 32px;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: 32px;
}

#content a[href*="host="]:before {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-open.svg");
	content: " ";
	display: inline-block;
	font-size: 16px;
	height: 16px;
	line-height: 18px;
	margin: 0;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: 16px;
}

#content a[href*="host="]:hover {
	background-color: #c4c4c4;
	border-color: #a6a6a6;
}

#lang {
	color: #000000;
	left: auto;
	margin: 0;
	padding: 0;
	right: 18px;
	top: 1px;
	z-index: 10;
}

#lang select {
	font-size: 10px;
	height: 18px;
	margin-top: 3px;
	padding: 0;
	vertical-align: text-bottom;
}

.icon {
	border: medium none;
}

.size {
	width: 6em;
}

#content {
	border-left: 1px solid #c3c3c3;
	bottom: 0;
	left: 270px;
	margin: 0;
	overflow: auto;
	padding: 0 10px 10px 10px;
	position: absolute;
	right: 0;
	top: 49px;
}

#content table tbody tr:nth-child(2n+1) td {
	background-color: #f7f7f7;
}

#content table.checkable tr.checked:nth-child(2n+1) td, #content table.checkable tr.checked:nth-child(2n+1) th {
	background-color: #f7f7f7;
}

#content table tbody tr:hover td, #content table tbody tr:hover th {
	background-color: #ededed;
}

#content h2 {
	background: none repeat scroll 0 0 #eeeeee;
	border: medium none;
	border-bottom: 1px solid #c3c3c3;
	color: #2d2d2d;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	left: 270px;
	line-height: 22px;
	margin: 0;
	padding: 0 0 6px 10px;
	position: fixed;
	right: 0;
	top: 27px;
}

h1, h2, h3, h4 {
	color: #555555;
	font-weight: bold;
}

h3 {
	border-bottom: 1px solid #CDCDCD;
	padding-bottom: 6px;
}

#breadcrumb {
	background: none repeat scroll 0 0 #eeeeee;
	color: #2d2d2d;
	height: 27px;
	left: 270px;
	line-height: 27px;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
}

input, textarea, select, button {
	background-color: #FEFEFE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	padding: 6px;
}

input, textarea, button {
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	padding: 6px;
}

select {
}

input.default {
	box-shadow: none;
}

input:focus, textarea:focus, button:focus {
	border-color: #aaaaaa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 170, 170, 0.6);
	outline: 0 none;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background-color: #eeeeee;
	border: 1px solid #bbbbbb;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #333333;
	cursor: pointer;
	margin-left: 5px;
	padding: 6px;
	text-decoration: none !important;
	white-space: nowrap;
}

input[type="image"] {
	padding: 0;
}

input[type="file"] {
	border: medium none;
}

input[type="checkbox"], input[type="radio"] {
	background-color: transparent;
	border: medium none;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #CCCCCC;
	color: #000000;
	cursor: pointer;
	text-decoration: none !important;
}

#menu input[type="submit"], #menu input[type="button"], #menu input[type="reset"] {
	margin-left: 5px;
	padding: 0 4px 2px;
}

#menu .message, #menu .error, #content .message, #content .error {
	border-style: solid;
	border-width: 0 0 0 6px;
	margin-bottom: 4px;
	padding: 12px;
}

#menu .message, #content .message {
	background-color: #d8f0f8;
	border-color: #41b4dc;
	color: #323232;
}

#menu .error, #content .error {
	background-color: #efc7c7;
	border-color: #D66C68;
	color: #323232;
}

#menu .error, #menu .message {
	margin-left: 9px;
	margin-right: 9px;
}

#loader {
	left: 59em;
	top: 2em;
}

#content h2 + div#ajaxstatus + p.links, #content h2 + div#ajaxstatus + div.message + p.links, p.tabs {
	background-color: #ededed;
	border-bottom: 1px solid #cccccc;
	display: table;
	margin-top: 12px;
	padding-left: 0;
	width: 100%;

}

#content h2 + div#ajaxstatus + p.links a, #content h2 + div#ajaxstatus + div.message + p.links a, p.tabs a {
	border: 1px solid transparent;
	-moz-border-bottom-colors: none;
	border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	color: #000000;
	display: block;
	float: left;
	line-height: 1.5;
	margin-bottom: -1px;
	margin-right: 3px;
	padding: 6px 12px;
	position: relative;

}

#content h2 + div#ajaxstatus + p.links a:hover, #content h2 + div#ajaxstatus + div.message + p.links a:hover, p.tabs a:hover {
	background: none repeat scroll 0 0 #e1e1e1;
	border-color: #d7d7d7 #d7d7d7 transparent;
	border-width: 1px;
	text-decoration: none;
}

#content h2 + div#ajaxstatus + p.links a.active, #content h2 + div#ajaxstatus + div.message + p.links a.active, p.tabs a.active {
	background: none repeat scroll 0 0 #fafafa;
	border-color: #cccccc #cccccc transparent;
	border-width: 1px;
	padding-bottom: 7px;
}

#content h2 + div#ajaxstatus + p.links a.active:hover, #content h2 + div#ajaxstatus + div.message + p.links a.active:hover, p.tabs a.active:hover {
	background: none repeat scroll 0 0 #e1e1e1;
	border-width: 1px;
}

a#t3adminerversion {
	color: white;
	font-weight: bold;
	position: absolute;
	right: 12px;
	top: 3px;
}

a#version {
	display: none;
}

p.logout input {
	display: none;
}

*:before, *:after {
	box-sizing: border-box;
}

.js .column {
	background: transparent;
	display: inline-block;
	height: 8px;
	position: relative;
	width: 12px;
}

.js .column a:hover {
	text-decoration: none;
}

.js .column a[href*="desc%5B0%5D=1"] {
	display: block;
	left: -3px;
	overflow: hidden;
	position: absolute;
	width: 16px;
}

.js .column a[href*="desc%5B0%5D=1"]:before {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-arrow-down.svg") no-repeat scroll 1px 4px / 10px auto;
	content: " ";
	display: inline-block;
	height: 16px;
	left: 4px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

.js .column a[href*="fieldset-search"] {
	display: block;
	left: 10px;
	overflow: hidden;
	position: absolute;
	width: 16px;
}

.js .column a[href*="fieldset-search"]:before {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-search.svg") no-repeat scroll 1px 4px / 10px auto;
	content: " ";
	display: inline-block;
	height: 16px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	width: 16px;
}

.js .hidden {
	visibility: hidden;
}

p.pages {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	height: 12px;
	left: auto;
	margin: 0;
	padding: 5px;
	position: fixed;
	right: 16px;
	top: 22px;
}

p.pages a {
	background-color: #E0E0E0;
	border: 1px solid #7C7C7C;
	border-radius: 2px;
	color: #434343;
	padding: 1px 11px;
}

p.pages a:hover {
	background-color: #C0C0C0;
	color: #000000;
	text-decoration: none;
}

.time {
	color: #666666;
}

input[type="image"][name^="add"] {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-add.svg") no-repeat scroll 8px 8px #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="add"] {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-add.svg") no-repeat scroll 8px 8px #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="add"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

table.nowrap thead input[type="image"][name^="add"] {
	background-color: transparent;
	background-position: 6px 2px;
	border: medium none;
	height: 16px;
	padding: 0 0 0 25px;
	width: 16px;
}

table.nowrap thead input[type="image"][name^="add"]:hover {
	background-color: transparent;
}

table.nowrap input[type="image"][name^="down"] {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-arrow-down.svg") no-repeat scroll 8px 8px #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="down"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

table.nowrap input[type="image"][name^="drop_col"] {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-delete.svg") no-repeat scroll 8px 8px #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="drop_col"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

table.nowrap input[type="image"][name^="up"] {
	background: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-arrow-up.svg") no-repeat scroll 8px 8px #ebebeb;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	height: 18px;
	padding: 15px 6px 15px 27px;
	width: 32px;
}

table.nowrap input[type="image"][name^="up"]:hover {
	background-color: #c4c4c4;
	border-color: #a3a3a3;
}

p#tables a[href*="select="]::before {
	font-size: 14px;
}

a[href*="dump="] {
	background-color: #79a548;
	border-radius: .25em;
	color: #fff;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	padding: .2em .6em .3em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: nowrap;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fefefe;
	background-image: url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/svgs/actions/actions-view-list-expand.svg);
	background-position: right 4px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	margin: 4px;
	padding: 6px 24px 6px 6px;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select:focus {
	border-color: #aaa;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(170, 170, 170, .6);
	outline: 0;
}
